/*
    This is the basic profile thats being sourced by the top level config
*/

// This check_max function is defined from the top level 'nextflow.config'
process {
    // Basic resource is this for all processes without any of the labels
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    time   = { check_max( 2.h  * task.attempt, 'time'   ) }
}