params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'
    // This overrides the default genome to use a smaller size
    genome                      = 'https://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.MT.fa.gz'


    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '2.GB'
    max_time   = '1.h'
}